@page "/dashboard"

<div class='page-cont'>
    <h1>Dashboard Page</h1>
</div>


@code {



    protected override async Task OnInitializedAsync()
    {
        GlobalClass.pageTitle = "Dashboard";
    }
}