.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.sidebar {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row ::deep a,
.top-row ::deep .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row ::deep a:hover,
.top-row ::deep .btn-link:hover {
  text-decoration: underline;
}

.top-row ::deep a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row:not(.auth) {
    display: none;
  }
  .top-row.auth {
    justify-content: space-between;
  }
  .top-row ::deep a,
.top-row ::deep .btn-link {
    margin-left: 0;
  }
}
@media (min-width: 641px) {
  .page {
    flex-direction: row;
  }
  .sidebar {
    width: 250px;
    height: 100vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .top-row {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .top-row.auth ::deep a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }
  .top-row,
article {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
.mainlayout-body {
  height: calc(100vh - 80px);
  padding: 7px 0px 0px 0px !important;
}

.mainlayout-topbar,
.mainlayout-footerbar {
  background-color: rgba(211, 211, 211, 0.2705882353) !important;
}
.mainlayout-topbar .mud-toolbar,
.mainlayout-footerbar .mud-toolbar {
  padding: 0px 16px;
}

.mainlayout-topbar .mud-toolbar {
  background-color: #fafafa;
  height: 55px !important;
}
.mainlayout-topbar__tbxpagetitle {
  color: #7d7d7d;
  font-family: "Theramin", sans-serif !important;
  font-size: 1.5rem !important;
  text-transform: uppercase !important;
}

.mainlayout-drawer {
  background-color: #2e7d32 !important;
  overflow: hidden;
}
.mainlayout-drawer__header {
  align-items: center;
  max-height: 55px;
  min-height: 55px;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.mainlayout-drawer__header-text {
  color: white;
  font-size: 13px !important;
  overflow: hidden;
  padding-left: 4px;
  text-align: left !important;
  text-transform: uppercase;
  text-overflow: ellipsis !important;
  white-space: nowrap;
}
.mainlayout-drawer .mud-icon-root {
  color: white !important;
}
.mainlayout-drawer .mud-nav-link-text {
  color: white;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mainlayout-drawer .mud-nav-group .mud-collapse-container {
  background-color: #205622;
}
.mainlayout-drawer .mud-nav-link-expand-icon.mud-transform {
  fill: white !important;
}
.mainlayout-drawer .mud-nav-link.active:not(.mud-nav-link-disabled) {
  color: #f6edd9 !important;
  border-left: solid thick #f6edd9 !important;
}
.mainlayout-drawer .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-icon-root {
  color: #f6edd9 !important;
}
.mainlayout-drawer .mud-nav-link.active:not(.mud-nav-link-disabled) .mud-nav-link-text {
  color: #f6edd9;
}
.mainlayout-drawer .expandheight-navgroup {
  max-height: calc(100vh - 185px);
  overflow: auto;
}

.mainlayout-footerbar {
  height: 32px;
}
.mainlayout-footerbar .mud-typography {
  color: black;
  font-size: 12px;
}
.mainlayout-footerbar__btn-hardreload, .mainlayout-footerbar__btn-fullscreen {
  margin: 0px 0px 0px 5px !important;
  padding: 0px !important;
}/*# sourceMappingURL=mainlayout.styles.css.map */