.fweight500 {
  font-weight: 500 !important;
}

.txt-uppercase {
  text-transform: uppercase !important;
}

.txt-center {
  text-align: center !important;
}

.txt-size-3vw{
  font-size: 3vw !important;
}
